body {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 3rem;
}

button {
  border: none;
  background-color: rgb(0, 185, 124);
  color: white;
  border-radius: 4px;
  font-size: 1.1rem;
  padding: 16px 24px;
  display: block;
  margin: auto;
}

.btn-shake:hover {
  animation: shake 0.5s ease-in-out 0.5s;
}

.plus-scale-roatate {
  font-size: 70pt;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  margin: 150px auto;
  width: 80px;
}

.plus-scale-roatate:hover {
  cursor: pointer;
  animation: rotate-scale 1s ease-in-out forwards;
}

.side-menu {
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 100vh;
  color: rgb(255, 255, 255);
  text-align: right;
  padding: 40px 80px;
  transition: all 1s;
  transform: translateX(-60%);
}

.side-menu p {
  text-align: center;
}

.side-menu:hover {
  text-align: center;
  transform: translateX(0%);
}

.side-menu:hover p {
  animation: item-position 0.75s ease-in-out;
}

/* .grid-container {
  display: grid;
  height: 900px;
  width: 900px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '헤더 헤더 헤더'
    '사이드 라이트 라이트'
    '사이드 라이트 라이트';
  grid-gap: 2px;
}

.nav-grid {
  grid-area: 헤더;
}

.nav-side {
  grid-area: 사이드;
}

.nav-right {
  grid-area: 라이트;
}

.grid-container div {
  border: 1px solid black;
}

@media screen and (max-width: 800px) {
  .grid-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      '헤더'
      '사이드'
      '라이트';
  }
} */

.grid-container2 {
  display: grid;
  width: 100%;
  height: 600px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-container2 img {
  width: 100%;
  display: block;
}

.grid-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

@media screen and (max-width: 800px) {
  .grid-container2 {
    grid-template-columns: 1fr;
  }
  .grid-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@keyframes shake {
  0% 100% {
    transform: rotate(0deg) scale(100%);
  }
  50% {
    transform: rotate(-10deg) scale(105%);
  }
  75% {
    transform: rotate(10deg) scale(99%);
  }
}

@keyframes rotate-scale {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(1.5);
  }
}

@keyframes item-position {
  0% 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(150px) skew(-10deg);
  }
}
