div {
  box-sizing: border-box;
}

.toggle-darkmode {
  position: relative;
  width: 160px;
  height: 56px;
  background: none;
  border: none;
  padding: 0;
  margin: auto;
  cursor: pointer;
}

.darkmode-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  padding: 4px;
  border-radius: 999px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  transition:
    color,
    background-color 1s;
}

.darkmode-wrapper span {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  transition: left 1s;
}

.icon-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #000;
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  right: calc(160px - 52px);
  transition: right 1s;
}

.toggle-darkmode.active {
  & .darkmode-wrapper {
    color: #000;
    background-color: rgb(201, 201, 201);
  }
  & .icon-wrap {
    right: 4px;
  }
  & span {
    left: 16px;
  }
}

body {
  background-color: white;
  transition: background-color 0.3s;
}

body.active {
  background-color: #000;
}
