body {
  margin: 0;
  font-family: pretendard;
}

h1 {
  margin: 0;
}

label {
  display: block;
  font-weight: 300;
  color: rgb(49, 49, 49);
  padding-bottom: 4px;
}

input[type='email'],
[type='text'] {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  font-family: pretendard;
  font-weight: 300;
  padding: 4px;
}

input[type='button'] {
  background-color: rgb(255, 145, 0);
  padding: 8px 40px;
  border: none;
  font-size: medium;
  border-radius: 4px;
  color: white;
  font-family: pretendard;
}

input[type='button']:hover {
  background-color: aqua;
  color: black;
}

input[type='checkbox'] {
  color: aqua;
}

textarea {
  box-sizing: border-box;
  font-family: pretendard;
  font-weight: 300;
  padding: 4px;
  color: rgb(58, 58, 58);
}

.contact__container {
  background-color: aliceblue;
  width: 500px;
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
}

.contact__title {
  padding: 0px 0px 16px;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name_container {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.input-name {
  width: 100%;
}

.input-message textarea {
  width: 100%;
}

.input-send {
  display: flex;
  justify-content: space-between;
}

.subscribe__container {
  display: flex;
  align-items: center;
}

.subscribe__container label {
  padding-bottom: 0px;
}
