@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

div,
h4,
p {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 0;
}

p {
  font-weight: 300;
}

body {
  width: 100%;
  margin: 0;
}

.flex-container {
  max-width: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.flex-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-sizing: border-box;
  color: white;
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 16px) / 4);
  text-align: center;
  margin-top: 16px;
}

.flex-item h4 {
  font-size: 1.2rem;
}

.flex-item p {
  font-size: 1rem;
}

.item-bg {
  background-color: red;
}

.product-contaienr {
  width: 80%;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
}
.overlay-wrap {
  width: 100%;
  height: 100%;v
  overflow: hidden;
  position: absolute;
}
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: aliceblue;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: -100%;
  transition: bottom 0.5s;
}

.overlay-wrap:hover .overlay {
  bottom: -50%;
}

.item-products {
  width: 33%;
  position: relative;
}

.item-products img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .flex-container {
    max-width: 500px;
  }
  .flex-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}
@media screen and (max-width: 768px) {
  .flex-container {
    max-width: 100%;
  }
  .flex-item {
    flex-basis: 100%;
  }
}
