body {
  margin: 0px;
  font-family: pretendard;
}

h1 {
  font-weight: 400;
  color: #1a3e66;
}

.table__container {
  background-color: #b2ccd6;
  width: 800px;
  height: 500px;
  padding: 48px;
  margin: auto;
}

.contents__container {
  background-color: #f1f4f9;
  border-radius: 4px;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  table-layout: auto;
}

tr {
  border-bottom: 2px solid #b2ccd6;
  height: 100%;
}
th {
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1pt;
  color: #8d9eb3;
  padding: 8px 0px;
  box-sizing: border-box;
}

td {
  height: 100%;
  text-align: center;
  padding: 24px 0px;
  box-sizing: border-box;
}

.table__img {
  width: 120px;
}

.table__img img {
  width: 150px;
}

.table__itme {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 8px;
  color: #8d9eb3;
  font-weight: 600;
}

.table__itme img {
  width: 50px;
}

.tfoot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.tfoot button {
  background-color: #133761;
  color: aliceblue;
  border: none;
  border-radius: 4px;
  padding: 24px;
  font-size: 14pt;
  font-weight: 100;
  letter-spacing: 0.5pt;
  font-family: pretendard;
}
.tfoot a {
  color: #21456c;
  font-size: 14pt;
}
tbody > tr:last-child {
  border-bottom: none;
}

td:nth-child(3),
td:nth-child(4) {
  color: #8d9eb3;
}
td:nth-child(3) {
  text-align: right;
}
.total__sum {
  text-align: right;
  padding-right: 24px;
  font-size: large;
}
