:root {
  /* 색상 */
  --bg-light: #fff;
  --bg-grey: #f9fafb;
  --bg-grey-2: #f5f5f5;
  --primary: #494cb4;
  --nutral-w: #fff;
  --nutral-k: #000;
  --nutral-g: #888;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-info: #8b5cf6;
  --color-alram: #f65c5c;

  /* 간격 */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4,
p,
i {
  margin: 0;
}

h5 {
  font-weight: 500;
}
div,
i,
input {
  box-sizing: border-box;
}

.admin-container {
  width: 100%;
  margin: 80px auto;
  background-color: var(--bg-grey);
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'side nav'
    'side contents';
  overflow: hidden;
}
.nav-bar {
  grid-area: nav;
  background-color: var(--bg-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2);
}

.nav-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 0.25px solid var(--bg-grey-2);
  border-radius: 4px;
  box-shadow: inset 0 0.25px 3px rgba(0, 0, 0, 0.25);
  color: var(--nutral-g);
}

.nav-serchbar {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  transform-origin: left center;
}

.nav-serchbar input {
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid var(--nutral-g);
  padding: 0 var(--space-1);
  width: 100px;
  transition: width 1s;
}

.serch-icon-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nutral-k);
  border-radius: 0px 2px 2px 0px;
  color: var(--nutral-w);
  border: none;
  padding: var(--space-1);
}

.nav-serchbar input::-moz-placeholder {
  color: #9ca3af;
}

.nav-serchbar input:focus {
  outline: none;
  border: none; /* ← border 완전 제거 */
  width: 200px;
}

.nav-serchbar:has(input:focus) {
  border: 2px solid #3b82f6;
  border-radius: 4px;
}

.nav-lg-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  color: var(--nutral-g);
}

.icon-number-wrap {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  background-color: var(--color-alram);
  position: absolute;
  font-size: 10pt;
  color: var(--nutral-w);
  transform: translate(10px, -10px);
}

.manu-side {
  grid-area: side;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-3) 12px;
  gap: 24px;
  color: var(--nutral-w);
  transform: translateX(-100px);
  width: 150px;
  transition: all 0.7s;
}

.manu-side:hover {
  transform: translateX(0px);
}

.manu-item {
  width: 100%;
  display: flex;
}

.manu-item i {
  width: 40px;
  transform: translateX(90px);
  transition: transform 0.7s;
}

.manu-side:hover .manu-item i {
  transform: translateX(5px);
}

.manu-item p {
  width: 100%;
  text-align: left;
  flex: 1;
  padding-left: 4px;
  opacity: 0;
  transition: opacity 0.7s;
}

.manu-side:hover .manu-item p {
  opacity: 1;
}

.contents {
  grid-area: contents;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--space-2);
  gap: var(--space-2);
}

.contents h2 {
  padding: var(--space-2) 0;
  font-weight: 500;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-2);
  background-color: var(--bg-light);
  border-radius: 4px;
  border-left: 4px solid;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.card div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  height: 60px;
}

.card h3 {
  font-weight: 500;
}

.card i {
  color: var(--nutral-g);
}

.card-success {
  border-left-color: var(--color-success);
}

.card-warning {
  border-left-color: var(--color-warning);
}

.card-info {
  border-left-color: var(--color-info);
}

.card-primary {
  border-left-color: var(--primary);
}

.overview-container {
  display: grid;
  gap: var(--space-3);
}

.graph-container {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.graph-header {
  width: 100%;
  background-color: var(--bg-grey-2);
  padding: var(--space-2);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

.graph-content {
  width: 100%;
  height: 100%;
  background-color: var(--bg-light);
  padding: var(--space-2);
}

.tesk-container {
  border-radius: 8px;
  overflow: hidden;
  align-self: start;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.tesk-contents {
  display: flex;
  flex-direction: column;
}

.tesk-manu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2);
  background-color: var(--bg-light);
  border-radius: 8px 8px 0 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  margin-top: 2px;
}

.tesk-bedge {
  width: 24px;
  padding: 1px var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-info);
  color: var(--nutral-w);
  font-size: 8pt;
}

@media screen and (min-width: 328px) {
  .nav-serchbar,
  .nav-lg-right {
    display: none;
  }
  .nav-icon-wrap {
    display: flex;
  }
  .nav-bar {
    justify-content: end;
  }
}

@media screen and (min-width: 500px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr); /* 4열 */
  }
  .nav-icon-wrap {
    display: none;
  }

  .nav-serchbar,
  .nav-lg-right {
    display: flex;
  }
  .overview-container {
    grid-template-columns: 7fr 3fr;
  }
}
