.container {
  display: block;
  margin: 50px auto auto;
  text-align: center;
  font-family: pretendard;
}

.profile {
  width: 100px;
  border-radius: 100%;
  border: 0.5px solid gray;
}

.title {
  text-align: center;
}
